<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <title>ログイン</title>
</head>
<body>
<main layout:fragment="content">
  <div class="container">
    <p class="">ログインして、TODOリストを利用しよう</p>
    <form method="post" action="/login">
      <div class="mb-3">
        <label class="form-label" for="user">ユーザID</label>
        <input class="form-control" type="text" name="user" id="user"/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">パスワード</label>
        <input class="form-control" type="password" name="password" id="password"/>
      </div>
      <div class="">
        <input class="form-control" class="btn btn-primary" type="submit" value="ログイン"/>
      </div>
    </form>
  </div>
</main>
</body>
</html>
