<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ログイン | TODOアプリ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>TODOアプリ</h1>
    </header>
    <main>
      <p></p>
      <form method="post" action="/">
        <div>
          <div>ユーザID</div>
          <div><input type="text" name="" id=""></div>
        </div>
        <div>
          <div>パスワード</div>
          <div><input type="password" name="" id=""></div>
        </div>
        <div>
          <input type="submit" value="">
        </div>
      </form>
    </main>
    <footer>
      <small>© 2023 TODOアプリ</small>
    </footer>
  </body>
</html>
